<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <i class="fa fa-times fa-2x" aria-hidden="true" (click)="close()"> </i>
</div>
<form [formGroup]="orderForm">
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="orderID">Order ID</label>
          <div class="input-group">
            <input type="text" formControlName="orderId" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="cusName">Customer Name</label>
          <div class="input-group">
            <input type="text" formControlName="customerName" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="cusAdd">Customer Address</label>
          <div class="input-group">
            <input type="text" formControlName="customerAddress" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="cusPhone">Customer Phone</label>
          <div class="input-group">
            <input type="text" formControlName="customerPhone" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="date">Delivery Date</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" formControlName="deliveryDate" ngbDatepicker #d="ngbDatepicker">
                   <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="amount">Total Value</label>
          <div class="input-group">
            <input type="text" formControlName="totalAmount" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
</div>